//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #0B173D; // Changing primary color
$dark: #000000;
$secondary: #d2a204;