//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================
$menu-collapsed-width: 70px;
$navbar-margin-top: 0.35rem;
$navbar-menu-height: 6rem;
$grey: #f0f0f0;